body {
    background-color: rgb(233, 211, 192);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(22, 42, 99);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    font-weight: 1000;
}

.about {
    text-align: center;
    font-size: large;
    color: rgb(27, 35, 104);
}

.about span {
    color: royalblue;
    font-weight: 500;
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    padding-top: 4%;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(27, 35, 104);
    border: 2px solid rgb(233, 211, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

/* X mark position and hover */

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    width: 10px;
    height: 70px;
    background-color: black;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.board.x .cell:not(.x):not(.o):hover::after,
.board.x .cell:not(.x):not(.o):hover::before {
    background-color: grey;
}


/* O mark position and hover*/

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: 70px;
    height: 70px;
    background-color: black;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: 50px;
    height: 50px;
    background-color: rgb(27, 35, 104);
}

/* .board.o .cell:not(.x):not(.o):hover::after, */
.board.o .cell:not(.x):not(.o):hover::before {
    background-color: rgb(233, 211, 192);
}


/* Block Hover effect on cells */

.cell.x,
.cell.o {
    cursor: not-allowed
}


/* Restart button */

#restartButton {
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 15px;
}

#restartButton:hover {
    background-color: black;
    color: white;
    border-color: white;
}

/* Winning Message */

.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    display: none;
}

.winning-message.show {
    display: flex;
}